---
import Credits from "../components/Credits.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The cake is a lie</title>
	</head>
	<body>
		<Credits />
	</body>
</html>
